@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans overflow-hidden;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar for panels */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}